
video {
    width: 100%;
    max-width: 1000px;
    height: 500px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}



